apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "{{ item.name }}"
  namespace: "{{ item.namespace }}"
  labels:
    app: "{{ item.app_label }}"
    created-by: ansible
spec:
  accessModes:
    - "{{ item.access_mode }}"
  resources:
    requests:
      storage: "{{ item.size }}"
  storageClassName: "{{ item.storage_class }}"
